[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
django-cors-headers = "*"
pymongo = "==3.12.3"
sqlparse = "==0.2.4"
uuid = "*"
djongo = "*"

[dev-packages]

[requires]
python_version = "3.10"
